body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    transition: background-color 0.3s, color 0.3s;
    color: #211C6A;
}

h1 {
    font-size: 1.5rem;
    margin: 0;
}

.canvas-section {
    display: flex;
    justify-content: center;
    align-items: center; /* Set the height to 100% of the viewport height */
    padding: 2rem;
}

#signatureCanvas {
    width: 100%;
    max-width: 450px;
    background-color: #fff;
    border: 1px solid #000;
    cursor: url(assets/pen.png) 1 26, pointer;
    border-radius: 4px;
}

.action-buttons {
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.btn {
    background-color: #211C6A;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.btn:hover, .btn-upload:hover {
    background-color: #fff;
    border:1px solid  #211C6A;
    color: #211C6A;
    transform: scale(1.05);
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    padding: 1rem 0;
}

footer > p {
    margin: 0;
}

footer a {
    text-decoration: none;
    background-color: #211C6A;
    padding: 4px 8px;
    color: #fff;
    border-radius: 5px;
}

.signature-bg-img {
    width: 100%;
    max-width: 450px;
}

body.dark-theme {
    background-color: #212121;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
    color: #fff;
    background-color: #211C6A;
}

.theme-toggle {
    cursor: pointer;
}

#themeIcon {
    font-size: 24px;
}
.error-message {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #FF0000;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 5px;
    z-index: 999;
}


.btn-upload {
    position: relative;
    overflow: hidden;
text-align: center;
    background-color: #211C6A;
    border: none;
    border-radius: 5px;
    padding: 8px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

/* Hide the default file input */
#uploadFile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}


/* Style the upload label */
.upload-label {
    z-index: 1;
    position: relative;
}

body.dark-theme .btn {
    background-color: #211C6A;
    color: #fff;
}

body.dark-theme .action-buttons {
    color: #fff;
}

body.dark-theme footer {
    color: #fff;
}

body.dark-theme #themeIcon {
    color: yellow;
}

@media only screen and (max-width:767px){
    .canvas-section{
        flex-direction: column;
        padding: 1rem;
        margin-top: 2rem;
    }    

    .signature-bg-img {
        margin-top: 1rem;
        width: 100%;
        max-width: 350px;
    }

    footer {
        position: relative; /* Remove absolute positioning on mobile */
    }  

}

@media only screen and (min-width:768px){
    .canvas-section{
        flex-direction: row;
    }  

}
